<div class="forgot-username col-sm-5 center-div  panel panel-default remove-padding">

<div class="panel-heading">
	<div>
		<i class="fa fa-user fa-5x"></i>
		<h3>Forgot Username?</h3>
		<hr>
	</div>
	<strong>
		<p>Please enter the Email you signed up with. <br> A confirmation email with your account details will be sent shortly.</p>
	</strong>
</div>

<div class="panel-body">
<form name="formData">
	<input name="emailField" ng-model="formData.email"   class="form-control" placeholder="Your email"  >

	<h1>{{formData.email}}</h1>

	<!-- <div class="alert alert-danger" role="alert" ng-show="formData.emailField.$error.required">
		Please Enter a Username
	</div> -->

	<div class="alert alert-danger" role="alert" ng-show="formData.emailField.$touched && !formData.email">
		Please Enter a Username
	</div>
	
	<div>
		<button class="btn btn-block btn-primary" ng-click="forgotUsername()">Submit</button>
	</div>

</form>

</div>

</div>