<div class="forgot-username col-sm-5 center-div  panel panel-default remove-padding">

<div class="panel-heading">
	<div>
		<i class="fa fa-user fa-5x"></i>
		<h3>Forgot Password?</h3>
		<hr>
	</div>
	<strong>
		<p>Please enter the username you signed up with. <br> A confirmation email with your account details will be sent shortly.</p>
	</strong>
</div>

<div class="panel-body">
	<input type="text" class="form-control" placeholder="Your Username" ng-model="formData.username">
	<div>
		<button class="btn btn-block btn-primary" ng-click="forgotPassword()">Submit</button>
	</div>
</div>

</div>