<div class="jumbotron">
  <h2>Please log in</h2>
  <form role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" ng-model="formData.username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ng-model="formData.password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
  </form>
</div>