<div class="container">
	<div class="row">
        <div class="card hovercard">
            <div class="info">
            	<div class="user-role">
            		{{ currentUser.role }}
            	</div>
                <div class="title">
                    {{ currentUser.username }}
                </div>
                <div class="desc">{{ currentUser.firstname + ' ' + currentUser.lastname }}</div>
                <div class="desc">{{ currentUser.email }}</div>
                <div class="desc">{{ currentUser.gender }}</div>
            </div>
        </div>
	</div>
</div>