<div class="forgot-username col-sm-5 center-div  panel panel-default remove-padding">

<div class="panel-heading">
	<div>
		<i class="fa fa-user fa-5x"></i>
		<h3>Reset Password</h3>
		<hr>
	</div>
	<strong>
		<p>Please enter your new password.</p>
	</strong>
</div>

<div class="panel-body">
	<input type="text" class="form-control" placeholder="new password">
	<input type="text" class="form-control" placeholder="confirm password">
	<div>
		<button class="btn btn-block btn-primary">Submit</button>
	</div>
</div>

</div>