<div class="container">

	<form id="signupForm" name="signupForm" class="col-sm-8 center-div">

		<h1>{{title}}</h1>
		<div class="col-sm-6">
			<label for="firstname">First Name</label>
			<input ng-model='form.firstname' name='firstname' type="text" class="form-control" required> 
			<div class="alert alert-danger" role="alert" ng-if="signupForm.firstname.$touched && !signupForm.firstname"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a first name.
			</div>
			


			<label for="lastname">Last Name</label>
			<input ng-model='form.lastname' id="lastname" name="lastname"  type="text" class="form-control" aria-describedby="basic-addon1">
			<div class="alert alert-danger" role="alert" ng-if="signupForm.lastname.$touched && !lastname"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a last name.
			</div>

			<label for="email">Email</label>
			<input ng-model='form.email' id="email" name="email"  class="form-control" aria-describedby="basic-addon1">
			<!-- <div class="alert alert-danger" role="alert" ng-if="signupForm.email.$touched && !signupForm.email"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a valid email.
			</div> -->

			<label for="password">Password</label>
			<input ng-model='form.password' id="password" name="password" ng-model="password" type="password" class="form-control" aria-describedby="basic-addon1" ng-minlength="6" placeholder="6 - 12 characters" >
			<div class="alert alert-danger" role="alert" ng-if="signupForm.password.$touched && !password"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a password.
			</div>

			<label for="confirmPassword">Confirm Password</label>
			<input ng-model='form.confirmPassword' id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" type="password" class="form-control" aria-describedby="basic-addon1" ng-minlength="6" placeholder="6 - 12 characters" >
			<div class="alert alert-danger" role="alert" ng-if="signupForm.confirmPassword.$touched && !confirmPassword"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a password.
			</div>

			<div class="alert alert-danger" role="alert" ng-if="signupForm.confirmPassword !== signupForm.password "><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Passwords do not match.
			</div>


			
		</div>


		<div class="col-sm-6">
			<label for="username">Username</label>
			<input id="username" name="username" ng-model="form.username" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="6 - 12 characters" ng-minlength="6">
		<div class="alert alert-danger" role="alert" ng-if="signupForm.username.$touched && !form.username"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please enter a Username.
		</div>


		<div >


		<div>
			<label>Gender</label>
		</br>
			<input type="radio" ng-model="form.gender" value="male"> Male
			<input type="radio" ng-model="form.gender" value="female"> Female
		</div>

						

		</div> <!-- end col -->

		



<!-- 		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> I agree to the terms and conditions
		    </label>
		   </div> -->
		</br>
		<button type="submit" class="btn btn-block btn-primary" ng-click="submit()">Submit</button>

		<div class="alert alert-danger" role="alert" ng-if="errors"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Please fix the errors on the form.
		</div>

	</form>
	<span>{{form}}</span>


</div>