<div class="container">

	<form id="signupForm" class="col-sm-8 center-div">
		<h1>Sign Up</h1>
		<div class="col-sm-6">
			<label for="firstname">First Name</label>
			<input id="firstname"  type="text" class="form-control" placeholder="firstname" aria-describedby="basic-addon1">

			<label for="lastname">LastName</label>
			<input id="lastname"  type="text" class="form-control" placeholder="lastname" aria-describedby="basic-addon1">

			<label for="email">Email</label>
			<input id="email"  type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1">

			<label for="password">Password</label>
			<input id="password"  type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1">

			<label for="confirmPassword">Confirm Password</label>
			<input id="confirmPassword"  type="Password" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon1">
			
		</div>
		<div class="col-sm-6">
			<label for="username">Username</label>
			<input id="username"  type="text" class="form-control" placeholder="username" aria-describedby="basic-addon1">


		<div >
			<label>Date of Birth</label>
			<input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
		</div>

		<div>
			<label>Gender</label>
		</br>
			<input type="checkbox" value="male"> Male
			<input type="checkbox" value="female"> Female
		</div>

			
			<label for="zipcode">zipcode</label>
			<input id="zipcode"  type="text" class="form-control" placeholder="zipcode" aria-describedby="basic-addon1">
		</div>

<!-- 		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> I agree to the terms and conditions
		    </label>
		   </div> -->
		</br>
		<button class="btn btn-block btn-primary" >Submit</button>
	</form>
</div>