div.manage-search.row {
	padding: 10px 0;

	.form-control {
		width: 40%;
		display: inline;
		margin: 0 12px;
	}
}

div.manage-buttons.row {
	padding: 10px 0;
	border: solid 1px black;

	button {
		margin: 0 15px;
	}
}

div.forgot-username {
	margin: 0 auto;
	padding: 10px;
	width: 40%;
	border: solid 1px black;

	div {
		text-align: center;

		hr {
			background-color: black;
			height: 1px;
		}
	}

	.form-control {
		margin: 20px 0 10px 0;
	}

	.glyphicon.glyphicon-user {
		font-size: 32px;
	}
}

body{

}

/*helper classes*/
/*margins*/
  .center-div{
    margin:0 auto;
    float: none;
  }
/*padding*/
  .remove-padding{
    padding: 0;
  }

  .remove-padding-bottom{
    padding-bottom: 0;
  }

  .remove-padding-top{
    padding-top: 0;
  }

  .remove-padding-left{
    padding-left: 0;
  }

  .remove-padding-right{
    padding-right: 0;
  }

/*main navigation bar*/
#main-nav{

}

#main-nav #login-container{

}

#main-nav #login-container #login-input{
  
}

#main-nav #login-container ul#login-input li a{
  padding-bottom: 0;
}


div.manage-search.row {
  padding: 10px 0;
}
div.manage-search.row .form-control {
  width: 40%;
  display: inline;
  margin: 0 12px;
}
div.manage-buttons.row {
  padding: 10px 0;
  border: solid 1px black;
}
div.manage-buttons.row button {
  margin: 0 15px;
}

/*forgot username page*/
div.forgot-username {
  margin: 0 auto;

  /*border: solid 1px black;*/
}
div.forgot-username div {
  text-align: center;
}
div.forgot-username div hr {
/*  background-color: black;
  height: 1px;*/
}
div.forgot-username .form-control {
  margin: 20px 0 10px 0;
}
div.forgot-username .glyphicon.glyphicon-user {
  font-size: 32px;
}

/*nav forgot links*/
div#forgot-links a{
  padding: 0px 0px 15px 15px;
  width: 180px;
  display: inline-block;
}


/*signup form*/
form#signupForm input{
  margin-bottom: 10px;
}

.alert{
  margin-bottom:5px !important;
  padding: 5px;
}



