div.manage-search.row {
  padding: 10px 0;
}
div.manage-search.row .form-control {
  width: 40%;
  display: inline;
  margin: 0 12px;
}
div.manage-buttons.row {
  padding: 10px 0;
  border: solid 1px black;
}
div.manage-buttons.row button {
  margin: 0 15px;
}
